/* CSS de la page d'accueil ohmyfood */
body{
   margin: 0%; 
   padding: 0%;
}
h1,h2,h3{
    font-family: 'Shrikhand' , sans-serif;
}
p{
    font-family: 'Roboto' , sans-serif;  
}
.logo{
    display: flex;
    justify-content: center;
    
}
.main-location{
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: #eaeaea;
    justify-content: center;
      
}
.map-marker{
    margin-right: 16px;
}
.main-brand{
     background-color:#f6f6f6; 
     padding-bottom: 30px;  
}
.main-brand-primary{
    text-align: center;
    font-size: 35px; 
    font-weight: bold;
}
.main-brand-secondary{
    text-align: center; 
    font-size: 20px;
}
.button{
    text-align: center;
    border-radius: 35px;
    padding: 20px;
    font-size: 20px;
    background-color: #d156dc ;
    background:-webkit-gradient(linear, right top, right bottom, from(#FF79DA), to(#9356DC));
    -webkit-text-fill-color: white;
    margin-left: 60px;
    margin-right: 60px;
    transition: background-color 700ms;
}
.button:hover{
    background: -webkit-gradient(linear, right top, right bottom, from(#f191d6), to(#a274da)); 
}
.functionalities-title{
    display: flex;
    font-size: 35px; 
    font-weight: bold;
    margin: 20px;
}
.functionalities-element{
    position: relative;
    display: flex;
    padding: 15px 15px 15px 0px;
    align-items: center;
    border-radius: 30px;
    background-color:#f6f6f6 ;
    margin:  20px 15px 20px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);   
}
.marker-title{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.marker-title-booking{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.functionalities-element-booking{
    position: relative;
    display: flex;
    padding: 15px 15px 15px 0px; 
    align-items: center;
    border-radius: 30px;
    background-color: #f5edff;
    margin: 0px 20px 40px 20px;
    padding-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.number-1{ 
    position: absolute;
    left: -8px;
    bottom: 28px;
    align-items: center;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    padding: 4px;
    padding-left: 4px;
    border-radius: 60%;
    text-align: center; 
    background-color:#9356DC;
    color: white;
}

.mobile-marker{
    margin-left: 45px;
}
.functionalities-choice-title{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.number-2{
    position: absolute;
    left: -8px;
    bottom: 28px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 60%;
    text-align: center; 
    background-color:#9356dc;
    color: white;
}
.ellipsis-marker{
    margin-left: 45px;
    margin-right: 2px;
}
.functionalities-composition-title{
    font-size: 20px;
    font-weight: bold; 
    margin-left: 20px;
}
.functionalities-booking-title{
    font-size: 20px;
    font-weight: bold; 
    margin-left: 20px; 
}
.number-3{
    position: absolute;
    left: -8px;
    bottom: 28px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 60%;
    text-align: center; 
    background-color:#9356DC;
    color: white;
}
.store-marker{
    margin-left: 45px;
}
a{
    text-decoration: none;
    color: black;

}

.column{
    background-color: #f6f6f6 ;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 60px;
    ;
}

.column-title{
    margin-left: 20px;
    font-size: 35px;
    font-weight: bold;
}
.col-1-title-heart{
    margin-left: 15px;
}
.heart-icon{
    font-size: 30px;
    font-weight: 100;
}
.col-1-title-name{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-top: 0%;
}
.col-1-title-description{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0%;
}

.col-element{
    position: relative;
    max-width: 100%;   
}
.column-tag{
    max-width: 100%;
}

.col-picture-new{
    color: #008766;
    font-size: 16px;
    border: solid #99E2D0;
    background-color: #99e2d0;
    position: absolute;
    right: 18px;
    top: 18px;
    padding: 6px;
}
.col-1-title-heart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 16px;
    margin-left: 2Opx;
}
.block-image-mama{
    background-image: url("images/restaurants/mama-food.jpg");
    background-size: cover;
    background-position:center ;
    height: 250px;
    width: auto;
    border-radius: 14px 14px 0px 0px;
}
.block-image-african{
    background-image: url("images/restaurants/african-food.jpg");
    background-size: cover;
    background-position:center ;
    height: 250px;
    width: auto;
    border-radius: 14px 14px 0px 0px;
}

.block-image-fouta{
    background-image: url("images/restaurants/fouta-food.jpg");
    background-size: cover;
    background-position:center ;
    height: 250px;
    width: auto;
    border-radius: 14px 14px 0px 0px;
}
.block-image-didi{
    background-image: url("images/restaurants/didi-food.jpg");
    background-size: cover;
    background-position:center ;
    height: 250px;
    width: auto;
    border-radius: 14px 14px 0px 0px;
}


.column-card{
    border: 2px solid #F2F2F2;
    background-color: white;
    border-radius: 14px;
    margin-bottom: 20px;   
}


.container:hover .empty{
    display: none;

}
.container .full {
    display: none;

}

.container .empty {
  font-size: 30px;
}

.container:hover .full {
    display: inline;
    font-size: 30px;
    transform: scale(1);  
    background: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;   
    display: initial;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    
    
}


.container { 
  transition: width 200ms; 
  
}


/* je mets en place le css pour le footer */

.footer{
    background-color: #353535;
}
.footer-title{
    margin-left: 20px;
    margin-bottom: 14px;
    filter: invert(1);
}
.footer-prposition{
    display: flex;
    align-items: center;
    color: white; 
    font-size: 20px; 
    margin-left: 20px;
    margin-bottom: 7px;
}
.couvert-icon{
    margin-right: 15px;
}
.footer-partner{
    display: flex;
    align-items: center;
    color: white; 
    font-size: 20px; 
    margin-left: 20px;
    margin-bottom: 7px;
}
.partner-icon{
    margin-right: 15px;
}
.footer-mention{
    color: white; 
    font-size: 20px; 
    margin-left: 20px;
    margin-bottom: 7px;
}
.contact{
    text-decoration: none;
    color: white;
}

/* je met en place le css du spinner loading */

.wrapper{
    position: absolute;
    background-color:rgba(10, 10, 10, 0.6) ;
    width: 100%;  
    height: 100vh;  
    padding: 0;
    text-align: center;
    color: #fff; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: hiddenspin 0s 3s infinite linear both; 
       
}

.loading-spinner{
    width: 10rem;
    height: 10rem;
    display: inline-block;  
    border: 3px solid #9356DC;
    border-radius: 50%;
    border-top-color: #fff;
    margin-bottom: 10rem;
    animation: spin 1s  infinite ease-in-out ;  
       
}
@keyframes hiddenspin {
   
        to{
            opacity: 0;  
            display:none;
            
        }     
}

@keyframes spin {
   
    to{ 
        transform: rotate(360deg);
        z-index: 1;
    }
           
}
/* animation CSS des trois pastilles */

.loading-dots > div{
    width: 3rem;
    height: 3rem;
    background-color:#FF79DA ;
    border-radius: 50%;
    display: inline-block;
    animation: 2s bounce infinite ease-in-out both;
   
}
.loading-dots .bounce{
     animation-delay: -0,30s; 
}
.loading-dots .bounce2{
    animation-delay: -0,15; 
}

@keyframes bounce {
    0%,80%,100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}


/* je mets en place le css pour les tablettes */

@media  screen and (min-width: 576px) and (max-width:992px) {  

.button{
    width: 30%;
    margin-left: 13em;
}


.functionnalities-card{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.functionalities-element{
    width: 40%;
    padding: 6px;
}
.functionalities-element-booking{
    width: 40%;
    padding: 6px;
    margin-left: 15em;
    margin-top: 2em;
}
.functionalities-booking-title{
    margin-left: 20px;
}

.col-1-title-description{
    font-size: 18px;
}
.col-1-title-name{
    font-size: 16px;
}

.column-card{
    width: 100%;
    height: 250px;
    background-size: cover;
    padding-bottom: 47px;
    height: 270px;
    width: 100%;
    margin-right: 0; 
     
}
       
}

/* intermediare */

@media  screen and (min-width: 992px) and (max-width:1336px){
.column-elements{  
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    }
.column-card{
    width: 450px;
    height: 250px;
    background-size: cover;
    padding-bottom: 47px;
    height: 300px;
    margin-right: 0; 
         
}
}

/* je mets en place le CSS pour la version desktop */
 @media  screen and (min-width: 1336px){  
.button{
    width: 20%;
    margin-left: 25em;
}


.functionnalities-card{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.functionalities-element{
    width: 30%;
    padding: 6px;
}
.functionalities-element-booking{
    width: 30%;
    padding: 6px;
}


.column-elements{  
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.column-card{
    width: 600px;
    height: 250px;
    background-size: cover;
    padding-bottom: 47px;
    height: 270px;
    margin-right: 0; 
     
}


.col-1-title-description{
    font-size: 18px;
}
.col-1-title-name{
    font-size: 16px;
}


.footer-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.footer-title{
    margin-bottom: 30px;
}



}





