body{
    margin: 0%;
    padding: 0%;
}
h1,h2,h3{
    font-family: 'Shrikhand' , sans-serif;
}
p{
    font-family: 'Roboto' , sans-serif;  
}
.brand{
    display:flex;
    align-items: center;
    justify-content: space-around;  
}
.back-index{
    display: none;
}

/* CSS pour les differents images des restaurants en background */
.food-picture{
    top: 100px;
    position: absolute;
    max-width: 100%;
    height: auto;
    background-size: cover;
}
.food-picture-charonne{
    top: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}


.main-element-card{
    position: relative;
    margin-top: 200px;
    background-color: #f6f6f6 ;
    border-radius: 30px 30px 0px 0px;
    padding-bottom: 80px;
}
.card-title{ 
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 25px;
}
.heart-icon{
    font-size: 25px;
}
.main-element-card-food{
    border-bottom: solid green;
    width: 10%;
    padding-bottom: 6px;
    margin-left: 25px;
}
.columns, .columns-dessert{
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: black;
}


.col-1{
    border-radius: 14px;
    background-color: white;
    margin: 25px 20px 20px 25px;
    padding: 15px 15px 15px 0px;
    box-shadow : 0 4px 1rem #ddd;
    position: relative;
    overflow: hidden;
   
    /* padding-bottom: 1px; */
}
.col-1{
    max-width: 100%; 
    transition: 1s;
}

/* mise de la fonctionnalité animée qui permet la séléction des plats */
.col-1-check{
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    width: 0;
    justify-content: flex-end;
    transition : width 1s;
    align-items: center;
    align-content: center;
}
.col-1-check i {
    border-radius: 60%;
    width: 10px;
    height: 10px;
    background-color: white;
    padding: 10px;
    margin-left: 16px;
    margin-top: 16px;
    display : flex;
    opacity : 0;
    align-items: flex-start;
    transform : rotate(360deg);
    transition :opacity 400ms ease-in-out, transform 1s ease-in-out;
  }
.col-1:hover .col-1-check {
    background : #9ed;
    width : 20%; 
    color:#9ed  ; 
  }
.col-1-check{
    color:white ;
}
.col-1:hover .col-1-check i{
    opacity: 1;
    transform: rotate(0deg);
}
.col-1:hover .col-1-meal{
    width : 70%;
  }



.col-1-description{
  margin-left : 14px;
  display: flex;
  flex-direction: row; 
}
.col-1-desc-price{
    margin-right: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.title{
    max-width: 70%;
    margin-left: 12px;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 20px;
}
.description-title{
    text-overflow: ellipsis; 
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    margin-right: 12px;
    margin-top: 0px;
    margin-bottom: 0;
}


.button{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 35px;
    padding : 20px;    
    font-size: 20px;
    background-color: #d156dc ;
    background:-webkit-gradient(linear, right top, right bottom, from(#FF79DA), to(#9356DC));
    -webkit-text-fill-color: white;
    margin-left: 100px; 
    margin-right: 100px;
    margin-top: 80px;
    transition: background-color 700ms;  
}
.button:hover{
    background : -webkit-gradient(linear, right top, right bottom, from(#f191d6), to(#a274da)); 
}
/* je mets en place le css pour le footer */

.footer{
    position: relative;
    background-color: #353535;


}
.footer-title{
    filter: invert(1);
    margin-left: 20px;
    margin-bottom: 14px;
}
.footer-prposition{
    display: flex;
    align-items: center;
    color: white; 
    font-size: 20px; 
    margin-left: 20px;
    margin-bottom: 7px;
}
.couvert-icon{
    margin-right: 15px;
}
.footer-partner{
    display: flex;
    align-items: center;
    color: white; 
    font-size: 20px; 
    margin-left: 20px;
    margin-bottom: 7px;
}
.partner-icon{
    margin-right: 15px;
}
.footer-mention{
    color: white; 
    font-size: 20px; 
    margin-left: 20px;
    margin-bottom: 7px;
}
/* je mets en place l'animation CSS pour l'apparition progressive des cards */

.main-element-card :nth-child(2){
    animation: fadeinout  1s   linear forwards;
    
}
.main-element-card :nth-child(3){
    animation: fadeinout  1s 300ms linear forwards;
    
}
.main-element-card :nth-child(4){
    animation: fadeinout  1s 400ms linear forwards;
}
.main-element-card :nth-child(5){  
    animation: fadeinout  1s 500ms linear forwards;
}

 @keyframes fadeinout { 
    
    0%{ 
        opacity: 0; 
        transform: translateY(15%); 
    }
    
    100%{ 
        opacity:1 ;
        transform: translateY(0%);   
    }  
}
/* css de la version tablette */
@media  screen and (min-width: 767px) and (max-width:1336px){

.meal-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.columns{
    min-width: 45%;
}
.columns-dessert{
    width: 100%;
}
.button{
    width: 50%;
    
}



}
/* css de la version desktop */
@media  screen and (min-width:1024px){

.meal-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.arrow{
    display: none;
}
.back-index{
    display: flex;
    font-weight: bold;
    border-bottom: solid;
  
}
.col-1:hover .col-1-check {
    width : 20%;  
  }
.button{
    width: 20%;
    margin-left: 26em;
}

.footer-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;

}
.footer-title{
    margin-bottom: 30px;
}

 
}





